html{
  height: 100%;
}

body{
  font-family: 'Exo', sans-serif;
  height: 80vh;
}

header .caja {
    background-color: #560e0e;

}

.caja{  
    position: relative;
    font-family: 'Exo', sans-serif;
}
.caja .img img{
  position: fixed;
  width: 5vh;
}

.caja nav, .caja li{
    position:  relative;
    text-align:  right;

    
}

.caja  nav li{
    display: inline-block;
    margin: 10px 1px 10px 55px;
    right: 15px;
}

.caja nav a{
    text-transform: initial;
    color: #f8f1f1;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    

}

/*inputs*/
.context {
    display: block;
    width: 55%;
    position: static ;
    text-align: center;
    margin: 20vh auto 20vh auto ;
}

.context h2{
    color: rgb(5, 5, 5);
    font-size: 25px;
    font-family: 'Exo', sans-serif;
    margin: 0 0 2vh 0;
}
.context p{
    color: #fff;
    font-size: 12px;
    font-family: 'Exo', sans-serif;
}
.input-group {
    position:  relative;
    margin: 3vh 13vh 3vh;
    display: inline-flex;
   }
   
   .input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #f37521;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .user-label {
    position: absolute;
    left: 15px;
    color: #3d4958;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .input:focus, input:valid {
    outline: none;
    border: 1.5px solid #f7851a;
   }
   
   .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: rgb(255, 224, 124);
    padding: 0.2em;
    color: #f7851a;
   }
  
   /*Boton Init*/
   .Enviar{
    width: 20%;
    padding: 12px 12px 12px 12px;
    font-size: 12px;
    font-weight: bold;
    color: whitesmoke;
    background-color: orange;
    border: none;
    border-radius: 7px;
    transition: 1.9s all;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-top: 2vh;
    margin-block-end: 10.59vh;
 
    
}

.Enviar:hover{
    background: darkorange;
    transform: scale(1.1);
}

/*Footer*/
/*Footer*/

footer .footer{
  text-align: center;
  background-color:#5e0000;
  padding: 9vh;
}

.footer ul {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  width: 30px;
  height: 30px;
  background-color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 10px;
  margin: 0 5px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 2px solid #fff;
  z-index: 1;
}

.footer ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.footer ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.footer ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.footer ul li a:hover:before {
  top: 0;
}

.footer  ul li:nth-child(1) a:before{
  background: #3b5999;
}

.footer ul li:nth-child(2) a:before{
  background: #55acee;
}

.footer ul li:nth-child(3) a:before {
  background: #0077b5;
}

.footer ul li:nth-child(4) a:before {
  background: #dd4b39;
}